<div class="cu-task-todo">
  <div class="cu-task-todo__header">
    <div class="cu-task-todo__header-title">
      To Do
    </div>

    <div class="cu-task-todo__header-action">
      <button class="btn primary">
        <div>Add</div>

        <div>
          <cu-icon
            class="no-padding"
            [size]="10"
            fillColor="#fff"
            hoverColor="#fff"
            type="chevron-down"
          />
        </div>
      </button>
    </div>
  </div>

  <div class="cu-task-todo__subtasks">
    <div class="cu-task-todo__subtasks-header">
      <div class="cu-task-todo__subtasks-header-title">
        Subtasks
      </div>
    </div>

    <div class="cu-task-todo__list">
      <ng-container *ngIf="subtasksForTask$ | async as subtasks">
        <div *ngFor="let subtask of subtasks" class="cu_task-todo_subtask">
          {{ subtask.name }}
        </div>
      </ng-container>
    </div>

    <div class="cu-task-todo__subtask-actions">
      <cu-subtask-input (add)="addSubtask($event)"  />
    </div>
  </div>
</div>
