<div class="cu-views">
  <div class="cu-views__title">
    <button>
      <cu-icon type="no-color" />
    </button>
    <div>
      Work
    </div>
  </div>

  <div class="cu-views__group">
    <div class="cu-views__group-divider"></div>

    <div class="cu-views__group-item active">
      <div>
        <cu-icon type="list" />
      </div>

      <div class="cu-views__group-item-text">
        List
      </div>
    </div>

    <div class="cu-views__group-divider"></div>

    <div class="cu-views__group-item">
      <div>
        <cu-icon type="board" />
      </div>

      <div class="cu-views__group-item-text">
        Board
      </div>
    </div>

    <div class="cu-views__group-divider"></div>
  </div>
</div>
