.cu-sidebar {
  height: 100vh;
  border-right: 1px solid #e8e8e8;
}

.cu-sidebar-header {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 12px 1px;
  box-sizing: border-box;
  margin-bottom: 15px;
  cursor: pointer;

  &:hover {
    .cu-sidebar-header__actions .cu-sidebar-header__actions-cog {
      opacity: 1;
    }
  }

  .cu-sidebar-logo {
    margin-bottom: -3px;
  }

  .cu-sidebar-header__logo {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }

  .cu-sidebar-header__actions {
    display: flex;
    column-gap: 5px;

    .cu-sidebar-header__actions-cog {
      opacity: 0;
      transition: opacity 0.3s ease-in-out;

      &:hover {
        cu-icon {
          fill: var(--theme-main-color);
        }
      }

      cu-icon {
        fill: var(--icon-passive-color);

        ::ng-deep {
          .cu-icon {
            height: 15px;
            width: 15px;
          }
        }
      }
    }

    cu-icon {
      fill: var(--theme-main-color);

      ::ng-deep {
        .cu-icon {
          height: 13px;
          width: 13px;
        }
      }
    }
  }

  svg {
    height: 12px;
    width: 12px;
  }

  img {
    height: 20px;
  }
}


.cu-sidebar-search {
  margin: 0 8px;
}

.cu-sidebar-links {
  padding: 10px 0;

  > a {
    height: 32px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    text-decoration: none;
    padding-left: 18px;

    &:hover {
      background: #f6f7f9;
    }

    span {
      font-size: 13px;
      font-weight: 400;
      color: var(--passive-text-color);
    }
  }

  cu-icon {
    ::ng-deep {
      .cu-icon {
        fill: var(--light-passive-text-color);
        height: 18px;
        width: 18px;
      }
    }
  }
}

.cu-sidebar-accordians {
  .cu-sidebar-accordians__links {
    display: flex;
    flex-direction: column;
    padding: 20px;

    > a {
      display: flex;
      align-items: center;
      height: 30px;
    }
  }

}

