<div class="cu-sidebar">
  <div class="cu-sidebar-header">
    <div class="cu-sidebar-header__logo">
      <img
        src="https://app-cdn.clickup.com/assets/images/brand/clickup-symbol_color.svg"
        alt="ClickUp Logo"
      />

      <img
        class="cu-sidebar-logo"
        src="https://app-cdn.clickup.com/assets/images/brand/clickup-text.svg"
        alt="ClickUp Logo"
      />
    </div>

    <div class="cu-sidebar-header__actions">
      <button class="cu-sidebar-header__actions-cog">
        <cu-icon type="cog" />
      </button>

      <button>
        <cu-icon type="double-left-chevron" />
      </button>
    </div>
  </div>

  <div class="cu-sidebar-search">
    <cu-search-button />
  </div>

  <div class="cu-sidebar-links">
    <a routerLink="/home">
      <cu-icon type="home" />
      <span>Home</span>
    </a>
    <a routerLink="/notifications">
      <cu-icon type="bell" />
      <span>Notifications</span>
    </a>
    <a routerLink="/goals">
      <cu-icon type="goal" />
      <span>Goals</span>
    </a>
  </div>

  <div class="cu-sidebar-dropdowns">
    <a routerLink="/home">Home</a>
  </div>
</div>
