button {
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;

  &.focused {
    background-color: #f2f2f2;
  }

  &:hover {
    background-color: #f2f2f2;
  }

  &:focus {
    outline: none;
  }
}
