<div class="cu-edit-task" *ngIf="vm$ | async as vm">
  <div class="cu-edit-task-backdrop"></div>

  <div class="cu-edit-task-modal">
    <div class="cu-edit-task-modal-header">
      <div>Workspace > Project > Task</div>

      <div class="cu-edit-task-modal-header-close" (click)="close()">
        <i class="material-icons">close</i>
      </div>
    </div>

    <div class="cu-edit-task-modal-body">
      <section class="cu-task-view">
        <div class="cu-task-view__header">
          <div class="cu-task-view__header-left">
            <ng-container *ngIf="vm.statuses">
              <cu-status-button
                [statuses]="vm.statuses"
                [selectedStatus]="vm.activeEdit.column"
                (statusChange)="statusChange($event)"
              />
            </ng-container>
          </div>

          <div class="cu-task-divider"></div>

          <div class="cu-task-view__header-right">
            <div class="cu-task-toolbar">
              <div class="cu-task-toolbar__item">
                <div class="cu-task-toolbar__item-title">Created</div>
                <div class="cu-task-toolbar__item-tool">
                  June 16, 2023
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="cu-task-view__body">
          <div class="cu-task-details">
            <div class="cu-task-details__item">
              <textarea
                class="title"
                placeholder="Required Title"
                [value]="vm?.activeEdit.task.name">
              </textarea>
            </div>

            <div class="cu-task-details__item">
              <textarea
                class="description"
                placeholder="Add a description..."
                [value]="vm?.activeEdit.task.description">
              </textarea>
            </div>

            <div class="cu-task-details__item">
              <cu-task-todo />
            </div>
          </div>

          <div class="cu-task-divider"></div>

          <div class="cu-task-coms"></div>
        </div>
      </section>
    </div>
  </div>
</div>
