.cu-root-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.cu-root-views {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
