:host {
  --fill-color: #2a2e34;

  &.passive {
    --fill-color: var(--light-passive-text-color);
  }

  &.primary {
    --fill-color: var(--theme-main-color);
  }

  &.hover-primary {
    --hover-color: var(--theme-main-color);
  }

  &.no-padding {
    .cu-icon {
      padding: 0;
    }
  }

  &.no-hover {
    &:hover {
      fill: var(--fill-color);
    }
  }
}

.cu-icon {
  height: 12px;
  width: 12px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--fill-color);

  &:hover {
    fill: var(--hover-color);
  }
}
