<ng-container *ngIf="board$ | async"></ng-container>

<div class="cu-board" appHorizontalControl>
  <div class="cu-board-header">
    <div
      class="cu-board-header__item"
      *ngFor="let column of board?.columns"
      [ngStyle]="{ 'border-top-color': column.color }"
    >
      <div class="cu-board-header__item-title">
        {{ column.name }}
      </div>

      <div class="cu-board-header__item-tasks-count">
        {{ column.tasks.length }}
      </div>
    </div>
  </div>

  <div class="cu-board-dashboard" cdkDropListGroup>
    <div
      *ngFor="let column of board?.columns"
      class="cu-board-dashboard__column"
      [id]="column.id"
      [cdkDropListData]="column"
      (cdkDropListDropped)="taskMove($event)"
      cdkDropList
    >
      <section
        *ngIf="taskCreateState.columnId === column.id && taskCreateState.position === 'top'"
        class="cu-board-dashboard__new-task-top"
      >
        <cu-new-task
          [activePosition]="taskCreateState.position"
          (activePositonChange)="updateActivePosition($event)"
          (editDone)="taskEditDone($event, column)"
        >
        </cu-new-task>
      </section>

      <ng-container *ngFor="let task of column.tasks; let taskIndex = index">
        <div
          cdkDrag
          [cdkDragData]="[task, taskIndex]"
          appNoPropagation
          stopEvent="mousedown"
        >
          <cu-task
            [workspace]="workspace"
            [task]="task"
          />
        </div>
      </ng-container>

      <section
        *ngIf="taskCreateState.columnId === board.id && taskCreateState.position === 'bottom'"
        class="cu-board-dashboard__new-task-bottom"
      >
        <cu-new-task
          [activePosition]="taskCreateState.position"
          (activePositonChange)="updateActivePosition($event)"
          (editDone)="taskEditDone($event, column)"
        >
        </cu-new-task>
      </section>

      <button
        class="cu-board-dashboard__add-task"
        (click)="createNewTask(column)"
        appNoPropagation
        stopEvent="click"
      >
        <span>+</span>
        <span>New Task</span>
      </button>
    </div>
  </div>
</div>
