<div class="cu-board" appHorizontalControl>
  <div class="cu-board-header">
    <div
      class="cu-board-header__item"
      *ngFor="let board of boards"
      [ngStyle]="{ 'border-top-color': board.color }"
    >
      <div class="cu-board-header__item-title">
        {{ board.name }}
      </div>

      <div class="cu-board-header__item-tasks-count">
        {{ board.tasks.length }}
      </div>
    </div>
  </div>

  <div class="cu-board-dashboard" cdkDropListGroup>
    <div
      *ngFor="let board of boards; let i = index"
      class="cu-board-dashboard__column"
      [id]="i.toString()"
      [cdkDropListData]="[board]"
      (cdkDropListDropped)="taskMove($event)"
      cdkDropList
    >
      <section
        *ngIf="taskCreateState.boardId === board.id && taskCreateState.position === 'top'"
        class="cu-board-dashboard__new-task-top"
      >
        <cu-new-task
          [activePosition]="taskCreateState.position"
          (activePositonChange)="updateActivePosition($event)"
          (editDone)="taskEditDone($event, board)"
        >
        </cu-new-task>
      </section>

      <ng-container *ngFor="let task of board.tasks; let taskIndex = index">
        <div
          cdkDrag
          [cdkDragData]="[task, taskIndex]"
          appNoPropagation
          stopEvent="mousedown"
        >
          <cu-task
            [workspace]="workspace"
            [task]="task"
          />
        </div>
      </ng-container>

      <section
        *ngIf="taskCreateState.boardId === board.id && taskCreateState.position === 'bottom'"
        class="cu-board-dashboard__new-task-bottom"
      >
        <cu-new-task
          [activePosition]="taskCreateState.position"
          (activePositonChange)="updateActivePosition($event)"
          (editDone)="taskEditDone($event, board)"
        >
        </cu-new-task>
      </section>

      <button
        class="cu-board-dashboard__add-task"
        (click)="createNewTask(board)"
        appNoPropagation
        stopEvent="click"
      >
        <span>+</span>
        <span>New Task</span>
      </button>
    </div>
  </div>
</div>
